<script></script>
<script>
export default {
  data: () => ({
    messages: [
      {
        from: "Name",
        message: "Tanaporn Nontisit",

        color: "deep-purple-lighten-1",
      },
      {
        from: "ID",
        message: "63160198",

        color: "blue",
      },
      {
        from: "Education",
        message: "Bachelor of Computer Science, Burapha University",

        color: "deep-purple-lighten-1",
      },
      {
        from: "Interests",
        message: "Front-end developer",

        color: "blue",
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-row justify="space-around">
      <v-card width="400">
        <v-img
          height="200"
          src="https://s.isanook.com/jo/0/ud/488/2441749/roseblackpink.jpg"
          class="text-white"
          cover
        >
          <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
            <template v-slot:prepend>
              <v-btn icon="$menu"></v-btn>
            </template>

            <v-toolbar-title class="text-h6"> My Profile </v-toolbar-title>
          </v-toolbar>
        </v-img>

        <v-card-text>
          <div class="font-weight-bold ml-1 mb-2">About Me</div>

          <v-timeline density="compact" align="start">
            <v-timeline-item
              v-for="message in messages"
              :key="message.time"
              :dot-color="message.color"
              size="x-small"
            >
              <div class="mb-4">
                <div class="font-weight-normal">
                  <strong>{{ message.from }}</strong>
                </div>
                <div>{{ message.message }}</div>
              </div>
            </v-timeline-item>
          </v-timeline>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>
